.main_container {

  background-color: blue;
  width: 800px;
  margin: auto;
  margin-top: 125px;
  height: 250px;
}



.second_container {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
}

.second_container_2 {
  display: flex;
  justify-content: space-around;
}

.second_container:first-child {
  height: 75%;
}

.third_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blueviolet;
}

.third_container div {
  margin-bottom: 20px;
}

.third_container div {
  margin-top: 20px;
}

.pokemon {

  width: 100px;
  height: 30px;

  border: 1px solid red;
  box-sizing: border-box;
  /* text-align: center; */
}





.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}
.btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}


/* JAVASCRIPT CLASSES */

.yellow {
  background-color: yellow;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
